<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Deleted</title>
  </head>
  <body>
    <h1>Deleted posts: </h1>
    <% @post.each.with_index do |p, i| %>
      <h2>Post no. <%= i +1 %></h2>
      <p>Title: <%= p.name %></p>
  </body>
</html>
